@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-primary text-slate-900 antialiased selection:bg-accent/30 selection:text-accent;
}